* {
    font-family: 'Lato';
    justify-content: center;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

#fields-empty {
    display: none;
    margin-top: 50px;
    padding: 30px;
    background-color: #24313C;
    color: white;
    width: 70%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 5px 10px 5px #24313C;
    text-align: center;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-origin: top center;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: rotateX(90deg);
    } to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#container {
    margin-top: 50px;
    padding: 30px;
    background-color: #24313C;
    color: white;
    width: 70%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 5px 10px 5px #24313C;
    text-align: center;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-origin: top center;
}

.bits, .divisor {
    padding: 5;
    margin-bottom: 15px;
    margin-left: 25px;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #24313C;
    color: white;
}

.form-text, .form {
    font-weight: bold;
    font-family: 'Lato';
    font-size: 20px;
}

input[type=submit]:hover, .reset:hover, .back:hover, .submit:hover {
    background-color: #CCC;
}

#crc {
    width: 100%;
}

#sender_left {
    display: inline-block;
    width: 45%;
}

#sender_right {
    display: inline-block;
    width: 45%;
}

#receiver_information, #sender_information{
    border: solid 4px grey;
    height: 350px;
}

#information_from_sender {
    border: solid 4px grey;
    height: 200px;
}

.submit, .back {
    display: inline-block;
    cursor: pointer;
    background-color: #009688;
    padding: 20px;
    margin: 8px 0;
    border: none;
    color: #000;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
